


#navServices {

  .container > .row {
    padding-bottom: 90px;
  }

}


.service-center {
  padding-top: 50px;
  text-align: -webkit-center !important;
}

.service-center {

  .service-title {
    display: block;
    text-align: center;
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .service-text {
    font-size: small;
    color: black;
  }

}

.service-center > img {

}