@font-face {
  font-family: 'Quicksand';
  src: url('http://localhost:63342/Jigsaw/src/vendor/fonts/Quicksand-Regular.otf') format("opentype");
}
@font-face {
  font-family: 'Quicksand';
  font-weight: bold;
  src: url('http://localhost:63342/Jigsaw/src/vendor/fonts/Quicksand-Bold.otf') format("opentype");
}
@font-face {
  font-family: 'Quicksand Light';
  src: url('http://localhost:63342/Jigsaw/src/vendor/fonts/Quicksand-Light.otf') format("opentype");
}
/* line 3, src\less\mixin\main.less */
.body-slideout-open {
  padding-top: 0;
}
/* line 8, src\less\mixin\main.less */
#mainConetent {
  padding: 20px;
}
/* ---------------------------------------------- */
/* --- Required */
/* ---------------------------------------------- */
/* line 5, src\less\mixin\navSlideout.less */
html,
body {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
/* line 12, src\less\mixin\navSlideout.less */
.menu {
  background-color: #eeeeee;
  /*background-image: linear-gradient(145deg, #1D1F20, #404348);*/
}
/* line 17, src\less\mixin\navSlideout.less */
.panel {
  /*text-align: center;*/
  min-height: 100%;
  border: 0 !important;
}
/**
 * Slideout module styles
 */
/* line 30, src\less\mixin\navSlideout.less */
body {
  width: 100%;
  height: 100%;
}
/* line 35, src\less\mixin\navSlideout.less */
.menu,
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}
/* line 49, src\less\mixin\navSlideout.less */
.panel,
.slideout-panel {
  position: relative;
  z-index: 1;
}
/* line 55, src\less\mixin\navSlideout.less */
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}
/* line 61, src\less\mixin\navSlideout.less */
.slideout-open .slideout-menu {
  display: block;
}
/* ---------------------------------------------- */
/* --- Navigation Custom */
/* ---------------------------------------------- */
/* line 70, src\less\mixin\navSlideout.less */
#slideoutLogoContainer {
  height: 50px;
  background-color: #002b49;
  margin-bottom: 0;
}
/* line 76, src\less\mixin\navSlideout.less */
#slideoutLogo {
  width: 233px;
  margin-left: 10px;
  margin-top: 8px;
}
/* line 82, src\less\mixin\navSlideout.less */
#slideoutUL {
  list-style-type: none;
  padding-left: 0;
}
/* line 87, src\less\mixin\navSlideout.less */
#slideoutUL > li {
  list-style-type: none;
  text-decoration: none;
  border-top: 1px solid lightgray;
  padding-left: 0;
}
/* line 94, src\less\mixin\navSlideout.less */
#slideoutUL li:hover {
  cursor: pointer;
}
/* line 98, src\less\mixin\navSlideout.less */
#slideoutUL li > ul {
  list-style-type: none;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
}
/* line 105, src\less\mixin\navSlideout.less */
#slideoutUL li > ul > li {
  display: inline;
}
/* line 109, src\less\mixin\navSlideout.less */
#slideoutUL li > ul > li:first-child {
  color: #757575;
  font-size: 20px;
  padding-right: 20px;
}
/* line 115, src\less\mixin\navSlideout.less */
#slideoutUL li > ul > li:nth-child(2) {
  position: absolute;
  top: 18px;
  left: 62px;
  color: #5f5f5f;
  font-size: 12px;
  font-weight: bold;
}
/* line 1, src\less\mixin\preLoader.less */
.loading {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}
@-moz-keyframes fadein {
  /* line 8, src\less\mixin\preLoader.less */
  from {
    opacity: 0;
  }
  /* line 9, src\less\mixin\preLoader.less */
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* line 12, src\less\mixin\preLoader.less */
  from {
    opacity: 0;
  }
  /* line 13, src\less\mixin\preLoader.less */
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* line 16, src\less\mixin\preLoader.less */
  from {
    opacity: 0;
  }
  /* line 17, src\less\mixin\preLoader.less */
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  /* line 20, src\less\mixin\preLoader.less */
  from {
    opacity: 0;
  }
  /* line 21, src\less\mixin\preLoader.less */
  to {
    opacity: 1;
  }
}
/* line 24, src\less\mixin\preLoader.less */
.spinner-wrapper {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ff5959;
  position: fixed;
  z-index: 99999;
}
/* line 36, src\less\mixin\preLoader.less */
.spinner-text {
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  /* IE 9 */
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 55px;
  font-weight: 100;
  font-family: 'Quicksand', sans-serif;
  color: white;
}
/* line 48, src\less\mixin\preLoader.less */
.spinner {
  margin: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 25px solid #fff;
  width: 1px;
  height: 1px;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-animation: spin 1.5s infinite;
  -moz-animation: spin 1.5s infinite;
  animation: spin 1.5s infinite;
}
@-webkit-keyframes spin {
  /* line 71, src\less\mixin\preLoader.less */
  0%,
  100% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  /* line 72, src\less\mixin\preLoader.less */
  50% {
    -webkit-transform: rotate(720deg) scale(0.6);
  }
}
@-moz-keyframes spin {
  /* line 76, src\less\mixin\preLoader.less */
  0%,
  100% {
    -moz-transform: rotate(0deg) scale(1);
  }
  /* line 77, src\less\mixin\preLoader.less */
  50% {
    -moz-transform: rotate(720deg) scale(0.6);
  }
}
@-o-keyframes spin {
  /* line 80, src\less\mixin\preLoader.less */
  0%,
  100% {
    -o-transform: rotate(0deg) scale(1);
  }
  /* line 81, src\less\mixin\preLoader.less */
  50% {
    -o-transform: rotate(720deg) scale(0.6);
  }
}
@keyframes spin {
  /* line 84, src\less\mixin\preLoader.less */
  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  /* line 85, src\less\mixin\preLoader.less */
  50% {
    transform: rotate(720deg) scale(0.6);
  }
}
/* line 7, src\less\mixin\heading.less */
.heading {
  text-align: center;
  font-size: 26px;
  font-family: 'Quicksand', sans-serif;
  color: black;
  padding: 0px 0px 19px 0px;
}
/* line 15, src\less\mixin\heading.less */
.heading-line {
  text-align: center;
  height: 10px;
  margin: -12px 0 auto;
}
/* line 21, src\less\mixin\heading.less */
.heading-circle {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: black;
}
/* line 32, src\less\mixin\heading.less */
.heading-line span {
  display: inline-block;
}
/* line 36, src\less\mixin\heading.less */
.heading-line span:nth-child(1),
.heading-line span:nth-child(3) {
  width: 140px;
  margin-bottom: 2px;
  border-bottom: solid #a5a5a5 1px;
  box-shadow: 1px 1px 1px #cccaca;
}
@media (max-width: 360px) {
  /* line 44, src\less\mixin\heading.less */
  .heading-line span:nth-child(1),
  .heading-line span:nth-child(3) {
    width: 100px;
  }
  /* line 48, src\less\mixin\heading.less */
  .heading {
    font-size: 23px;
  }
  /* line 52, src\less\mixin\heading.less */
  .heading-line {
    margin: -10px 0 auto;
  }
}
@media (max-width: 280px) {
  /* line 59, src\less\mixin\heading.less */
  .heading-line span:nth-child(1),
  .heading-line span:nth-child(3) {
    width: 80px;
  }
  /* line 63, src\less\mixin\heading.less */
  .heading {
    font-size: 18px;
  }
  /* line 67, src\less\mixin\heading.less */
  .heading-circle {
    width: 5px;
    height: 5px;
  }
}
/* line 3, src\less\mixin\heading-inverse.less */
.heading-inverse .heading {
  color: white;
}
/* line 7, src\less\mixin\heading-inverse.less */
.heading-inverse .heading-line span:nth-child(1),
.heading-inverse .heading-line span:nth-child(3) {
  border-bottom: solid white 1px;
}
/* line 11, src\less\mixin\heading-inverse.less */
.heading-inverse .heading-circle {
  background-color: white;
}
/* line 3, src\less\mixin\buttons.less */
.pjbtn {
  cursor: pointer;
  border-radius: 10px;
  height: 40px;
  padding: 6px 22px;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
  border: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
}
/* line 18, src\less\mixin\buttons.less */
.pjbtn-primary {
  background-color: #ff5959;
  color: white;
}
/* line 23, src\less\mixin\buttons.less */
.pjbtn-inverse {
  border: 2px solid #ff5959 !important;
  background-color: transparent !important;
  color: #ff5959;
}
/* line 12, src\less\header.less */
#navHome {
  padding-top: 0px;
  padding-bottom: 0px;
}
/* line 17, src\less\header.less */
#header {
  height: 80px;
  background-color: #ff5959;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}
/* line 24, src\less\header.less */
#header > div {
  position: relative;
  padding-top: 0px;
  padding-bottom: 40px;
}
/* line 34, src\less\header.less */
#logo-container {
  position: relative;
  margin-top: 22px;
  float: left;
  height: 43px;
  width: 200px;
}
/* line 44, src\less\header.less */
#logo-img {
  position: absolute;
  left: 25px;
  top: 4px;
  height: 17px;
}
/* line 51, src\less\header.less */
#logo-title {
  position: absolute;
  left: 46px;
  top: -5px;
  font-size: 25px;
}
/* line 58, src\less\header.less */
#logo-title-light {
  font-family: 'Quicksand Light', sans-serif;
  font-weight: lighter;
}
/* line 63, src\less\header.less */
#logo-slogan {
  position: absolute;
  left: 12px;
  top: 20px;
  font-size: 10px;
}
/* line 74, src\less\header.less */
#nav {
  position: relative;
  margin-top: 32px;
  float: right;
  height: 23px;
  width: 499px;
}
/* line 84, src\less\header.less */
#nav > ul {
  list-style-type: none;
  font-size: 12px;
}
/* line 89, src\less\header.less */
#nav > ul > li {
  display: inline;
  margin-right: 30px;
}
/* line 94, src\less\header.less */
#nav > ul > li > a {
  text-decoration: none;
  color: white;
}
/* line 99, src\less\header.less */
#nav > ul > li a.active {
  border-bottom: 1px solid;
}
/* line 103, src\less\header.less */
#nav > ul > li:last-child {
  display: inline;
  margin-right: 0px;
}
/* line 108, src\less\header.less */
#nav > ul > li:hover {
  cursor: pointer;
  border-bottom: 1px solid;
}
/* line 116, src\less\header.less */
#navHamburger {
  display: none;
  position: absolute;
  top: 26px;
  right: 25px;
}
@media (max-width: 746px) {
  /* line 126, src\less\header.less */
  #nav {
    display: none;
  }
  /* line 130, src\less\header.less */
  #navHamburger {
    display: block;
  }
}
/* line 3, src\less\home.less */
#slider {
  position: relative;
}
/* line 8, src\less\home.less */
#home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  height: 240px;
  width: 100%;
}
/* line 23, src\less\home.less */
#home-content > div {
  width: 915px;
  height: 100%;
  margin: auto;
}
/* line 32, src\less\home.less */
#home-content-container {
  width: 800px;
  height: 100%;
}
/* line 38, src\less\home.less */
#home-left {
  float: left;
  width: 450px;
}
/* line 44, src\less\home.less */
#home-right {
  float: left;
  width: 445px;
}
/* line 51, src\less\home.less */
#home-right img {
  height: 240px;
}
/* line 57, src\less\home.less */
#home-left span {
  display: block;
}
/* line 60, src\less\home.less */
#home-left > span:first-child {
  color: white;
  font-size: 65px;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
}
/* line 66, src\less\home.less */
#home-left > span:nth-child(2) {
  color: white;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
  margin-top: -15px;
  margin-left: 5px;
}
/* line 74, src\less\home.less */
#home-left > span:nth-child(3) {
  color: #bebdbd;
  font-size: 12px;
  font-family: 'Droid Sans', sans-serif;
  margin-top: 25px;
  margin-left: 0px;
}
/* line 82, src\less\home.less */
#home-left .pjbtn-inverse {
  color: white;
}
/* line 85, src\less\home.less */
#home-left .pjbtn-primary {
  padding-left: 30px;
  padding-right: 30px;
}
/* line 91, src\less\home.less */
#home-buttons button {
  display: inline-block;
  margin-top: 25px;
}
/* line 95, src\less\home.less */
#home-buttons button:last-child {
  margin-left: 10px;
}
@media (max-width: 1000px) {
  /* line 103, src\less\home.less */
  #home-right {
    width: 281px;
  }
  /* line 107, src\less\home.less */
  #home-right > img {
    height: 150px;
  }
  /* line 111, src\less\home.less */
  #home-content > div {
    width: 755px;
  }
  /* line 115, src\less\home.less */
  #home-left > span:first-child {
    font-size: 46px;
  }
  /* line 119, src\less\home.less */
  #home-left > span:nth-child(2) {
    font-size: 20px;
  }
  /* line 123, src\less\home.less */
  #home-left > span:nth-child(3) {
    margin-top: 8px;
  }
}
@media (max-width: 820px) {
  /* line 131, src\less\home.less */
  #home-right {
    width: 281px;
    display: none;
  }
  /* line 136, src\less\home.less */
  #home-left {
    float: none;
    margin: auto;
    width: 308px;
  }
  /* line 142, src\less\home.less */
  #home-spacer {
    display: none;
  }
  /* line 146, src\less\home.less */
  #home-content > div {
    width: 100%;
  }
}
@media (max-width: 820px) {
  /* line 155, src\less\home.less */
  #home-buttons {
    display: none;
  }
  /* line 159, src\less\home.less */
  #home-content {
    height: 133px;
  }
}
@media (max-width: 460px) {
  /* line 169, src\less\home.less */
  #home-left > span:nth-child(3) {
    display: none;
  }
  /* line 173, src\less\home.less */
  #home-content {
    height: 86px;
    text-align: center;
  }
  /* line 178, src\less\home.less */
  #home-content > div {
    width: 100%;
  }
  /* line 182, src\less\home.less */
  #home-left {
    width: 100%;
  }
}
/* line 6, src\less\ourServices.less */
#navServices .container > .row {
  padding-bottom: 90px;
}
/* line 11, src\less\ourServices.less */
.service-center {
  padding-top: 50px;
}
/* line 18, src\less\ourServices.less */
.service-center .service-title {
  display: block;
  text-align: center !important;
  font-size: 19px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: bold;
}
/* line 27, src\less\ourServices.less */
.service-center .service-text {
  display: block;
  font-size: small;
  color: black;
  text-align: center !important;
}
/* line 2, src\less\portfolio.less */
#navPortfolio {
  padding-bottom: 100px;
}
/* line 9, src\less\portfolio.less */
#navPortfolio .col-md-6,
#navPortfolio .col-md-3 {
  margin-top: 60px !important;
}
/* line 19, src\less\portfolio.less */
#portfolio-sm-cont > .col-md-3 {
  margin-top: 10px;
}
/* line 7, src\less\ourTeam.less */
.team-container {
  padding-top: 40px;
}
/* line 12, src\less\ourTeam.less */
.team-container span {
  display: block;
}
/* line 17, src\less\ourTeam.less */
.team-img-container {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  border: solid #ff5959 2px;
}
/* line 26, src\less\ourTeam.less */
.team-img {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
}
/* line 38, src\less\ourTeam.less */
.team-name,
.team-job,
.team-text,
.team-social {
  text-align: -webkit-center !important;
  text-align: center !important;
}
/* line 43, src\less\ourTeam.less */
.team-name {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
}
/* line 50, src\less\ourTeam.less */
.team-job {
  font-size: small;
  padding-top: 0px;
  margin-top: -5px;
  color: black;
}
/* line 57, src\less\ourTeam.less */
.team-text {
  padding-top: 10px;
  font-size: 12px;
}
/* line 63, src\less\ourTeam.less */
.team-social a {
  display: inline-block;
  margin-top: 7px;
  margin-right: 8px;
}
/* line 69, src\less\ourTeam.less */
.team-social a:last-child {
  margin-right: 0px;
}
/* line 73, src\less\ourTeam.less */
.team-social a > img {
  height: 23px;
}
/* line 5, src\less\blog.less */
.news-container {
  margin-top: 40px;
}
/* line 12, src\less\blog.less */
.news-container .fa,
.news-container .glyphicon {
  font-size: 12px;
}
/* line 18, src\less\blog.less */
.news-title {
  display: block;
  font-weight: bold;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 3px;
}
/* line 28, src\less\blog.less */
.news-date > span {
  font-size: 13px;
  margin-left: 5px;
}
/* line 33, src\less\blog.less */
.news-text {
  font-size: 12px;
  padding: 10px 0;
}
/* line 40, src\less\blog.less */
.news-extra a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
/* line 46, src\less\blog.less */
.news-extra a:nth-child(2) {
  margin-left: 40px;
}
/* line 50, src\less\blog.less */
.news-extra .news-person,
.news-extra .news-comments {
  font-size: 12px;
}
/* line 56, src\less\blog.less */
.news-person,
.news-comments {
  padding-left: 5px;
}
/* line 2, src\less\contact.less */
#navContactUs .col-md-6 {
  padding-top: 40px;
}
/* line 7, src\less\contact.less */
.contact-title {
  display: block;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -5px;
}
/* line 15, src\less\contact.less */
.contact-desc {
  padding: 10px 0;
  font-size: 13px;
  color: black;
}
/* line 21, src\less\contact.less */
.contact-info {
  margin-top: 20px;
}
/* line 25, src\less\contact.less */
.contact-address {
  position: relative;
}
/* line 30, src\less\contact.less */
#arrowToMap {
  position: absolute;
  top: 0;
  left: 220px;
}
/* line 37, src\less\contact.less */
.contact-address,
.contact-phone {
  margin-top: 10px;
}
/* line 41, src\less\contact.less */
.contact-address > span,
.contact-phone > span {
  padding-left: 5px;
  font-weight: bold;
}
/* line 47, src\less\contact.less */
.contact-buttons {
  margin-top: 40px;
}
/* line 51, src\less\contact.less */
#viewmap {
  margin-left: 10px;
  padding: 6px 40px;
}
@media (max-width: 416px) {
  /* line 60, src\less\contact.less */
  #viewmap {
    margin-left: 0px;
    margin-top: 20px;
  }
  /* line 65, src\less\contact.less */
  #arrowToMap {
    display: none;
  }
}
/* line 2, src\less\footer.less */
footer {
  text-align: center;
}
/* line 36, ./src/app.less */
body {
  position: relative;
  padding-top: 80px;
  font-family: 'Quicksand', sans-serif;
}
/* line 42, ./src/app.less */
main > section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e8e8e8;
}
/* line 49, ./src/app.less */
.color-inverse {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ff5959;
  color: white;
}
/* line 56, ./src/app.less */
.font-light {
  font-family: 'Quicksand Light', sans-serif;
}
/*# sourceMappingURL=app.css.map */